<nav class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
			<a href="#" id="menuLink1" class="pure-menu-link">Appunti</a>
			<ul class="pure-menu-children">
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/appunti-di-android/" class="pure-menu-link">Android</a>
				</li>
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/appunti-di-basi-di-dati/" class="pure-menu-link">Basi di Dati</a>
				</li>
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/appunti-di-rete/" class="pure-menu-link">Rete</a>
				</li>
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/appunti-di-strutture-dati/" class="pure-menu-link">Strutture Dati</a>
				</li>
			</ul>
		</li>
		<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
			<a href="#" id="menuLink2" class="pure-menu-link">Games</a>
			<ul class="pure-menu-children">
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/spacefloat/" class="pure-menu-link">Space Float</a>
				</li>
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/vegolution/" class="pure-menu-link">Vegolution</a>
				</li>
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/western-lion/" class="pure-menu-link">Western Lion</a>
				</li>
			</ul>
		</li>
		<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
			<a href="#" id="menuLink3" class="pure-menu-link">Lab</a>
			<ul class="pure-menu-children">
				<li class="pure-menu-item">
					<a href="{{ site.baseurl }}/devember/" class="pure-menu-link">Devember</a>
				</li>
				<li class="pure-menu-item">
						<a href="{{ site.baseurl }}/flag-me/" class="pure-menu-link">Flag Me</a>
				</li>
				<li class="pure-menu-item">
						<a href="{{ site.baseurl }}/protofast/" class="pure-menu-link">ProtoFast</a>
				</li>
			</ul>
		</li>
		<li class="pure-menu-item pure-menu-allow-hover">
			<a href="{{ site.baseurl }}/online-cv/" class="pure-menu-link">CV</a>
		</li>
	</ul>
</nav>
