---
layout: default
---

<article class="post">
    <div class="thumbnail"><img src="{{ site.baseurl }}/static/images/{{ page.image }}" alt="{{ page.title }}"></img></div>

    <blockquote>Questo articolo fa parte della collezione <a href="{{ site.baseurl }}/appunti-di-android">Appunti di Android</a>, utili per il corso d'Informatica di <strong>Mobile Programming</strong>.</blockquote>

    <h1>{{ page.title }}</h1>

    <div class="entry">{{ content }}</div>

    <div class="date">{{ page.date | date: "%e %B %Y" }}</div>
</article>
