---
layout: default
---

<article class="post">
    <div class="thumbnail"><img src="{{ site.github.url }}/static/images/{{ page.image }}" alt="{{ page.title }}"></img></div>

    <blockquote>Questo articolo fa parte della collezione <a href="{{ site.github.url }}/appunti-di-basi-di-dati">Appunti di Basi di Dati</a>, utile per il corso d'Informatica di <strong>Basi di Dati</strong>.</blockquote>

    <h1>{{ page.title }}</h1>

    <div class="entry">{{ content }}</div>

    <div class="date">{{ page.date | date: "%e %B %Y" }}</div>
</article>
