---
layout: default
---

<article class="post">
    <div class="thumbnail"><img src="{{ site.github.url }}/static/images/{{ page.image }}" alt="{{ page.title }}"></img></div>

    <blockquote>This post is a devlog about <a href="http://www.fahien.me/spacefloat">SpaceFloat</a>, the <a href="http://itch.io/post/6999" target="_blank">FaSTeam</a>'s entry for the <a href="http://itch.io/jam/libgdxjam" target="_blank">libGDXJam</a>.</blockquote>

    <h1>{{ page.title }}</h1>

    <div class="entry">{{ content }}</div>

    <div class="date">{{ page.date | date: "%e %B %Y" }}</div>
</article>
